<h1>id: <%= @review.id %> 編集ページ</h1>

<%= form_with(model: @review) do |f| %>
<%= render 'form', review: @review %>
<!--<div class="form-group">-->
<!--  < %= f.label :title, 'タイトル' %>-->
<!--   %= f.text_field :title, class: 'form-control' %>-->
<!--</div>  -->
<!--<div class="form-group">-->
<!--    < %= f.label :text, 'レビュー' %>-->
<!--  < %= f.text_area :text, class: 'form-control', size: "70*70" %>-->
<!--</div>  -->
<div class="mx-auto" style="width: 200px;">
<%= f.submit '投稿', class: 'align-items-center, btn btn-secondary btn-sm mr-6' %>
<% end %>

<%= link_to '一覧に戻る', reviews_path, class: 'align-items-center, btn btn-secondary btn-sm mr-6' %>
</div> 