<h1 class="text-center">レビュー一覧</h1>
 
<div class="container">
   <div class="row align-items-center">
  <ul>
    <table class="table table-bordered table-light">
      <tr>
        <th class="text-center table-secondary align-middle" style="width: 5%">id</th>
        <th class="text-center table-secondary align-middle" style="width: 30%">タイトル</th>
        <th class="text-center table-secondary align-middle" style="width: 60%">レビュー</th>
        <th class="text-center table-secondary align-middle" style="width: 5%">お気に入り</th>
      </tr>

  <% @reviews.each do |review| %>
      <tr>
        <th class="text-center align-middle"><%= link_to review.id, review %></th> 
        <th class="text-left align-middle"><%= review.title %></th>
        <th class="text-left align-middle"><%= review.text %></th>
        <th class="text-center align-middle"><%= render 'favorites/favorite_button', review: review %></th>
      </tr>
  <% end %>
   </table>
   </ul>
  </div>  
</div>   
   
<div class="mx-auto" style="width: 200px;">
<%= link_to '新規レビュー投稿', new_review_path, class: 'align-items-center, btn btn-secondary btn-sm mr-6' %>
</div>