<h1 class="text-center">id: <%= @review.id %></h1>

<ul>
     <table class="table table-bordered table-light">
     <tr>
       <th class="text-center table-secondary align-middle"  style="width: 35%">タイトル</th>
       <th class="text-center table-secondary align-middle"  style="width: 60%">レビュー</th>
      <!--<th class="text-center table-secondary align-middle"  style="width: 5%">お気に入り</th>-->
     </tr>
     <tr>
       <th class="text-center align-middle"><%= @review.title %></th>
       <th class="text-left align-middle"><%= @review.text %></th>
        <!--<th class="text-center align-middle">< %= render 'favorites/favorite_button', review: @review %></th>-->
    </tr>
    </table>
</ul> 
<div class="row">
  <div class="mx-auto" style="width: 600px;">
  <div class="col-sm-10 offset-sm-3">
  <%= link_to '一覧に戻る', reviews_path, class: 'btn btn-secondary btn-sm mr-6' %>
  <%= link_to 'このレビューを編集する', edit_review_path(@review), class: 'btn btn-secondary btn-sm mr-6' %>
  <%= link_to 'このレビューを削除する', @review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-sm'  %>
</div>
</div>
</div>